<h3>Agregar gasto </h3>
<hr>
<!-- <small>{{ nuevo.nombre }}</small> -->

<form (ngSubmit)="agregar()">
    <input
        type="text"
        placeholder="Producto/Servicio"
        name="nombre"
        [(ngModel)]="nuevo.nombre"
    />
    <!-- [value]="nuevo.nombre"
        (input)="cambiarNombre( $event )" -->
    <input
        type="number"
        placeholder="Costo"
        name="poder"
        [(ngModel)]="nuevo.poder"
    />

    <button type="submit">
        Agregar
    </button>
    <p>Total gastos: $ {{totalPoder | number}}</p>

</form>
